:host {
  display: inline-flex;
}

/*
 * Add a :host display style that respects the hidden attribute.
 * https://web.dev/custom-elements-best-practices/
 */
:host([hidden]) {
  display: none;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
